
*.class

*.jar

java-utils/.idea/*

antlr-boolean-query/.idea/*
antlr-boolean-query/target

*.iml

hbase/.idea/*

luceneIndexer/.idea/*

solr-core/.idea/*

groovy/.idea/*

guava/.idea/*

social-utilities/.idea/*

avro-test/.idea/*

twitter-backup/.idea/*
